<h1>Handlebars</h1>
<ul>

</ul>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Imagen</th>
    </tr>
    </thead>
    <tbody>
    {{#each apitest}}
        <tr>
            <td>{{this.name}}</td>
            <td>${{this.price}}</td>
            <td><img style="height: 60px; width: 60px" src="{{this.url}}"></td>
        </tr>
    {{/each}}
    </tbody>
</table>




<form action="/productos" method="POST">
    <button class="btn btn-success mt-3 mb-5">Cargar Productos</button>
</form>

